<div class="mdc-layout-grid__cell--span-4" id="blog1">
	<div class="mdc-card">
		<div class="mdc-card__media mdc-card__media--16-9 blog-image">
			<div class="mdc-card__media-content blog-image-div" style="background-image: url('https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/U5duDxFqJA8Pk7h6uD6Z4PbnTx51QZY_1680x8400');"></div>
		</div>
		<div class="blog-content" style="padding: 8px;">
			<h4>The Issue With GeoJSON</h4>
			<h6>May 14th, 2018</h6>
			<p>In this post I go over the problems geoJSON can create.</p>
		</div>
		<div class="mdc-card__actions blog-actions">
			<div class="mdc-card__action-buttons">
				<a href="#" class="mdc-button mdc-card__action mdc-card__action--button">Read Story</a>
			</div>

			<div class="mdc-card__action-icons">
				<i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="Copy Link">share</i>
			</div>
		</div>
	</div>
</div>

<div class="mdc-layout-grid__cell--span-4" id="blog2">
	<div class="mdc-card">
		<div class="mdc-card__media mdc-card__media--16-9 blog-image">
			<div class="mdc-card__media-content blog-image-div" style="background-image: url('https://i-cdn.phonearena.com/images/article/103797-two_lead/What-to-expect-at-Google-IO-2018-Android-P-Wear-OS-and-more.jpg');background-position: center;"></div>
		</div>
		<div class="blog-content" style="padding: 8px;">
			<h4>Google I/O 2018 - Thoughts</h4>
			<h6>May 12th, 2018</h6>
			<p>My thoughts on the technology Google revealed to us at I/O 2018.</p>
		</div>
		<div class="mdc-card__actions blog-actions">
			<div class="mdc-card__action-buttons">
				<a href="#" class="mdc-button mdc-card__action mdc-card__action--button">Read Story</a>
			</div>

			<div class="mdc-card__action-icons">
				<i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="Copy Link">share</i>
			</div>
		</div>
	</div>
</div>

<div class="mdc-layout-grid__cell--span-4" id="blog3">
	<div class="mdc-card">
		<div class="mdc-card__media mdc-card__media--16-9 blog-image">
			<div class="mdc-card__media-content blog-image-div" style="background-image: url('https://mathspace-production-media.mathspace.co/media/upload/images/001_Chapter_Entries/CongruenceSimilarity/triangles-2.png');"></div>
		</div>
		<div class="blog-content" style="padding: 8px;">
			<h4>How To: Develop a Canvas Backdrop</h4>
			<h6>May 10th, 2018</h6>
			<p>Learn how to develop the canvas backdrop I use for my header.</p>
		</div>
		<div class="mdc-card__actions blog-actions">
			<div class="mdc-card__action-buttons">
				<a href="#" class="mdc-button mdc-card__action mdc-card__action--button">Read Story</a>
			</div>

			<div class="mdc-card__action-icons">
				<i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="Copy Link">share</i>
			</div>
		</div>
	</div>
</div>

<div class="mdc-layout-grid__cell--span-4" id="blog4">
	<div class="mdc-card">
		<div class="mdc-card__media mdc-card__media--16-9 blog-image">
			<div class="mdc-card__media-content blog-image-div" style="background-image: url('https://mathspace-production-media.mathspace.co/media/upload/images/001_Chapter_Entries/CongruenceSimilarity/triangles-2.png');"></div>
		</div>
		<div class="blog-content" style="padding: 8px;">
			<h4>This is the 4th blog post.</h4>
			<h6>May 9th, 2018</h6>
			<p>Just for testing purposes.</p>
		</div>
		<div class="mdc-card__actions blog-actions">
			<div class="mdc-card__action-buttons">
				<a href="#" class="mdc-button mdc-card__action mdc-card__action--button">Read Story</a>
			</div>

			<div class="mdc-card__action-icons">
				<i class="material-icons mdc-card__action mdc-card__action--icon" tabindex="0" role="button" title="Copy Link">share</i>
			</div>
		</div>
	</div>
</div>

