<footer style="z-index:4;" id="foot">
  <!--<div style="background: -webkit-linear-gradient(left, rgba(21, 53, 70, 1) 0%, rgba(0, 46, 70, 1) 12%, rgba(0, 129, 198, 1) 47%, rgba(21, 53, 70, 1) 100%);display: block;height:5px !important;width: 100vw;bottom: 0;"></div>-->
  <div class="mdc-layout-grid--span-12" style="background-color: #fbfbf8;">
    <div class="mdc-layout-grid__inner grid-80-lg" id="" style="margin: 0 auto;max-width:880px;">
      <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone footer-column">
        <div class="footer-links-text" style="float:left;text-align:center;">
          <p><a href="/">Home</a></p>
          <p><a href="/static/RESUME.pdf" target="_blank">Resume</a></p>
          <p><a href="/#contactMe">Contact</a></p>
        </div>
        <div class="footer-links-text" style="float:right;text-align:center;">
          <p><a href="/portfolio">Portfolio</a></p>
          <p><a href="/#highlights">Highlights</a></p>
          <p><a href="/#getToKnowMe">About</a></p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone footer-column">
        <div class="footer-links-text social">
          <p><a href="https://github.com/austinwanderson"><img src="/static/img/github.svg">Open Source</a></p>
          <p><a href="https://www.linkedin.com/in/austinwanderson"><img src="/static/img/linkedin.svg">Connect With Me</a></p>
          <p><a href="https://www.stackoverflow.com/"><img src="/static/img/stackoverflow.svg">Stack Overflow</a></p>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone footer-column">
        <div class="footer-logo">
          <img src="/static/img/aa-logo-grey-thin.png" style="height:55px;padding-top:25px;">
        </div>
        <div class="copyright-text">
          <p>&#169;2021 Austin Anderson</p>
        </div>
      </div>
    </div>
  </div>
</footer>
