<aside class="myMenu" id="myMenu">
	<div class="menu-close-button" style="z-index:10000;">
		<a class="material-icons mdc-top-app-bar__navigation-icon close-menu" id="menu-close-button" onclick="hideMobileMenu()">close</a>
	</div>
	<nav class="menuNavigation">
		<!--<nav class="menuOptions">
			<a href="#" class="menu-items">
				 <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Menu Option
			</a>
		</nav>-->
		<nav id="" class="mdc-drawer__content mdc-list" style="padding-top:10vh;">
			<div class="navMenu-list">
				<p style="text-align:center;"><a href="/">Home</a></p>
				<p style="text-align:center;"><a href="/portfolio">Portfolio</a></p>
				<p style="text-align:center;"><a href="/#getToKnowMe" onclick="hideMobileMenu()">About Me</a></p>
				<p style="text-align:center;"><a href="/static/RESUME.pdf" target="_blank">Resume</a></p>
				<p style="text-align:center;"><a href="/#highlights" onclick="hideMobileMenu()">Highlights</a></p>
				<p style="text-align:center;"><a href="/#contactMe" onclick="hideMobileMenu()">Contact</a></p>
			</div>
		</nav>
	</nav>
	<div class="menu-logo-bottom" style="top:60vh;">
		<div class="footer-logo">
			<img src="/static/img/aa-logo-grey-thin.png" style="height:75px;padding-top:25px;">
		</div>
	</div>
</aside>
