<header class="mdc-top-app-bar mdc-top-app-bar--fixed home-page-navbar" id="app-bar" style="z-index: 50;">
	<div class="mdc-top-app-bar__row">
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
			<a class="material-icons mdc-top-app-bar__navigation-icon menu mobile-menu-open-button" id="menuBtn">menu</a>
			<span class="mdc-top-app-bar__title"><a href="/">
      	<img src="/static/img/aa-logo-black-thin.png" style="height:48px;padding-top:5px;">
      </a></span>
		</section>
		<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end navbar-btns" role="toolbar" style="padding-right:0;text-align:center;">
			<a href="/" class="mdc-top-app-bar__action-item" style="color: black !important;">Home</a>
			<a href="/portfolio" class="mdc-top-app-bar__action-item" style="color: black !important;">Portfolio</a>
			<a href="/static/RESUME.pdf" target="_blank" class="mdc-top-app-bar__action-item" style="color: black !important;">Resume</a>
			<a href="/#contactMe" class="mdc-top-app-bar__action-item" style="color: black !important;">Contact</a>
		</section>
	</div>
</header>
